.movie-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 260px;
}

.movie-card:hover {
    transform: scale(1.05);
    border: 1px solid #fff;
    cursor: pointer;
}

.movie-image {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 10px;
}

.movie-title {
    font-size: 1.1rem;
    color: white;
    margin: 0;
}

.movie-year-genre {
    font-size: 0.9rem;
    color: #999;
}
